extends layout

block content

  .col-sm-9
      h3 Heading

      p VIDEO

      h3 Comments


  .col-sm-3
    ul.list-unstyled.video-list-thumbs
      li
        a(href='#', title='Claudio Bravo, antes su debut con el Barça en la Liga')
          img.img-responsive(src='http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg', alt='Barca', height='130px')
          h2 Claudio Bravo, antes su debut con el Bar&ccedil;a en la Liga
          span.glyphicon.glyphicon-play-circle
          |  
          span.duration 03:15
      li
        a(href='#', title='Claudio Bravo, antes su debut con el Barça en la Liga')
          img.img-responsive(src='http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg', alt='Barca', height='130px')
          h2 Claudio Bravo, antes su debut con el Bar&ccedil;a en la Liga
          span.glyphicon.glyphicon-play-circle
          |  
          span.duration 03:15
      li
        a(href='#', title='Claudio Bravo, antes su debut con el Barça en la Liga')
          img.img-responsive(src='http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg', alt='Barca', height='130px')
          h2 Claudio Bravo, antes su debut con el Bar&ccedil;a en la Liga
          span.glyphicon.glyphicon-play-circle
          |  
          span.duration 03:15
      li
        a(href='#', title='Claudio Bravo, antes su debut con el Barça en la Liga')
          img.img-responsive(src='http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg', alt='Barca', height='130px')
          h2 Claudio Bravo, antes su debut con el Bar&ccedil;a en la Liga
          span.glyphicon.glyphicon-play-circle
          |  
          span.duration 03:15
      li
        a(href='#', title='Claudio Bravo, antes su debut con el Barça en la Liga')
          img.img-responsive(src='http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg', alt='Barca', height='130px')
          h2 Claudio Bravo, antes su debut con el Bar&ccedil;a en la Liga
          span.glyphicon.glyphicon-play-circle
          |  
          span.duration 03:15

